@import url("style/header.css");
@import url("style/banner.css");

:root{
    --cor-de-fundo: #85b7d8;
    --branco: #96d1e9;
    --laranja: #c7bc5a;
    --azul-degrade: linear-gradient(97.54deg, #455f91 35.49%, #39b6b0 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte-secundario: "Josefin Sans";
}
body{
    background-color: var(--cor-de-fundo);
}
